@model ErrorViewModel
@{
    Layout = "_LayoutWarning";
    ViewData["Title"] = "Lỗi hệ thống";
}

<!--begin::Illustration-->
<img src="@Url.Content("~/images/18.png")" alt="Lỗi 404" class="mw-100 mb-10 h-lg-450px">
<!--end::Illustration-->

<!--begin::Message-->
<h1 class="fw-semibold mb-10 text-center">Đã xảy ra lỗi. Liên hệ kỹ thuật để được hỗ trợ.</h1>
<!--end::Message-->

<!--begin::Link-->
<a href="/" class="btn btn-primary fw-bold">Trang tổng quan</a>
<!--end::Link-->